<h1>Post Created!</h1>

<p><strong>Title: </strong><%= @post.title %></p>
<p><strong>Body: </strong><%= @post.body %></p>
<p><small>Created at: <%= @post.created_at.strftime(%d/%m/%Y %k:%M) %></small></p>
